/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000;
    --foreground: #fff;
    --muted: #9a9a9a;
    --border: #cfc796;
  }
}

@layer base {
  * {
    @apply scroll-smooth border-border;
  }

  body {
    @apply w-full min-h-screen flex flex-col bg-background text-foreground font-montserrat overflow-x-hidden;
  }
  h1,
  h2 {
    @apply font-syncopate;
  }
}

@media (max-width: 1024px) {
  .container {
    @apply px-[1rem];
  }
}

.bg-text{
  background-image: url("/imgs/text-bg-golden-img.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-position: center;
  background-size: cover;

}

.text-stroke{
-webkit-text-stroke-width: 0.3px;
-webkit-text-stroke-color: #FFF;

}
